<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tcsm.dao.grade.GradeMapper">
	<select id="getGrade" parameterType="Grade" resultType="Grade">
		select id,grade_name 'gradeName',update_user 'updateUser',update_time 'updateTime',insert_user 'insertUser',insert_time 'insertTime'
		from grade
		where is_delete=0
		<if test="id!=null">
			and id=#{id}
		</if>
		<if test="gradeName!=null and gradeName!=''">
			and grade_name=#{gradeName}
		</if>
	</select>
</mapper>